
body{
    background-color: hsl(212, 45%, 89%);
}
#MainContainer
{
    background-color: white;
    justify-content: center;
    margin: 200px 200px 500px 500px;
    padding: 10px 10px 10px 10px;
    display: block;
}

#qr
{
    border-radius: 10px;
    justify-content: center;
    
}

#SubTitle
{
    color : hsl(218, 44%, 22%);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#words
{
    color : hsl(216, 15%, 48%);
    font-size: 14px;
    text-align: center;
}

