
body{
    background-color: hsl(212, 45%, 89%);
}
#MainContainer
{
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 500px 500px 500px 500px;
    padding: 15px 15px 15px 15px;
    height: 350px;
    width: 200px;
    border-radius: 10px;
}

#qr
{
    border-radius: 20px;
    justify-content: center;
    
}

#SubTitle
{
    color : hsl(218, 44%, 22%);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

#words
{
    color : hsl(216, 15%, 48%);
    font-size: 12px;
    text-align: center;
}

